.image-container {
    width: 100%;
    overflow: hidden;
  }
  
  .image-scroll-wrapper {
    display: flex;                      
    width: max-content;                 
    animation: scrollImages 100s linear infinite;
  }
  .image-scroll-wrapper:hover {
    animation-play-state: paused;       
  }
  
  .image-container img {
    margin-right: 50px;
    height: 120px;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
  }
  
  @keyframes scrollImages {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  