@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    background: linear-gradient(to right, #fff); 
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 110px;
  }
  
  .company-logo {
    font-weight: bold;
  }
  
  .navList {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .navList li {
    position: relative;
  }
  
  .nav-option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-right: 45px;
    font-weight: 400;
    position: relative;
    z-index: 10;
  }
  
  .dropdownContent {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    width: auto;
    z-index: 5;
    padding: 20px;
    margin-top: 10px;
    border-radius: 25px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .navList li:hover .dropdownContent,
  .dropdownContent:hover {
    opacity: 1;
    visibility: visible;
  }  
  
  .dropdownColumn {
    text-align: left;
    width: auto;
    margin-right: 40px;
    padding: 10px;
  }

  .dropdownColumn p {
    margin-bottom: 15px;
    display: flex;
    min-width: 15rem;
    justify-content: space-between;
  }

  
  .dropdownColumn h3 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .nav-option:hover + .dropdownContent {
    opacity: 1;
  }

  .other-options {
    display: flex;
    position: relative;
  }

  .other-options > div {
    margin-left: 100px;
  }

  .other-options .dropdownContent {
    left: 31rem;
    padding: 10px;
    width: 18rem;
  }

  