@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

.footer {
    font-family: "Mada", sans-serif;
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 30px;
  }
  
  .column, .contactColumn {
    padding: 0 20px;
  }
  
  .contactColumn {
    flex: 1.5;
    font-weight: 200;
  }
  
  .heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .contact {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .icon {
    margin-right: 10px;
    color: #999;
  }
  
  .button {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    max-width: 12rem;
  }
  
  .arrow {
    margin-left: 5px;
  }
  
  .social {
    margin-top: 20px;
    display: flex;
  }
  
  .socialIcon {
    color: white;
    margin-right: 35px;
    font-size: 1.2rem;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    margin-bottom: 8px;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .certifications,
  .appStores {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }

  .certifications img {
    margin-right: 5px;
    height: 20px;
  }

  
  .certifications div{
    display: flex;
    margin: 0 25px;
    font-size: 0.9rem;
    
  }

  .appStores img {
    height: 45px;
    margin-right: 15px;
  }

  .column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right:100px;
  }
  
  .contact a {
    color: white;
    text-decoration: none;
  }